mixin sForWhom(data)
	// start sForWhom
	+b.SECTION.sForWhom.section#sForWhom&attributes(attributes)
		.container
			.pattern(style="background-image: url('../img/svg/business.svg')")
			.pattern-vertical(style="background-image: url('../img/svg/business-vert.svg')")
			+img('img/forWhom-bg.png').bg
			+img('img/svg/dots.svg').dots
			+b.section-title
				h2
					+icon('arrow-down')
					| Для кого?
			+e.row.row
				+e.col.col-12.col-lg-6
					+descriptionCard('Наставники', 'Для предпринимателей от 18 до 35 лет, которые видят своей миссией передачу собственных знаний и опыта начинающим бизнесменам.')
						ul
							li Станешь сертифицированным наставником и сможешь обучать бизнесу других
							li Вырастешь как предприниматель за счёт новых знаний, инструментов, контактов
							li Обретёшь теплую базу для старта наставнической деятельности
							li Сможешь вступить в сообщество молодых предпринимателей
							li Станешь экспертом, спикером, наставником проектов Росмолодёжь.Бизнес и
							li Всероссийских событий Росмолодёжи
							li Расскажешь на всю страну свою историю успеха
				+e.col.col-12.col-lg-6
					+descriptionCard('Наставляемые', 'Для молодых предпринимателей и самозанятых от 14 до 35 лет это шанс получить бесплатного бизнес-наставника, новые знания, опыт, знакомства и поддержку на старте')
						ul
							li Получишь личного наставника
							li Вырастешь как предприниматель за счёт новых знаний, инструментов,
							li контактов
							li Сможешь вступить в сообщество молодых предпринимателей
							li Расскажешь на всю страну свою историю успеха
	// end sForWhom

mixin descriptionCard(title, descr)
	+b.description-card
		h3 Трек «#{title}»
		+e.descr= descr
		p Благодаря участию в проекте, ты:
			if block
				block