mixin sSteps(data)
	// start sSteps
	+b.SECTION.sSteps.section#sSteps&attributes(attributes)
		.container
			+img('img/svg/star.svg').star
			+img('img/svg/letters.svg').letters
			+img('img/svg/column.svg').column
			+img('img/svg/star.svg').star-2
			+b.section-title
				h2
					+icon('arrow-down')
					| Этапы
			+e.wrap
				+img('img/svg/mouse.svg').mouse
				.arrow-wrap: +arrow
			+e.slider--js.swiper
				.swiper-wrapper
					+stageSlide('Приём заявок', '4 июля – 4 августа', 'computer', 'Онлайн', '1')
						p Подача заявок проходит до 4 августа на платформе Росмолодёжь.Бизнес. В случае прохождения отбора вы будете распределены в пары «наставник-наставляемый» и сможете приступить к прохождению обучения и конкурса внутри своего региона.
					+stageSlide('Региональный этап', '5 августа – 29 сентября', 'computer', 'Онлайн', '2')
						p Вас ждёт прохождение двухмесячного обучающего онлайн-модуля по развитию наставнических компетенций и решению трудностей, возникающих у начинающих предпринимателей.
						p Тестирования позволят проверить знания и закрепить усвоенный материал. Каждая пара «наставник-наставляемый» в сопровождении куратора создаст работающую модель бизнес-наставничества в своём регионе. Сильнейшая пара от каждого субъекта пройдёт в окружной этап.
					+stageSlide('Окружной этап', '30 сентября – 30 октября', 'filter', 'Гибридный формат', '3')
						p На очереди прохождение тестовых заданий и кейс-ситуаций. Вы разработаете и в формате нетворкинга представите лучшие практики бизнес-наставничества своего региона. Для участия во Всероссийском этапе будут отобраны три пары «наставник-наставляемый» от каждого округа.
					+stageSlide('Всероссийский этап', '31 октября – 1 декабря', 'filter', 'Гибридный формат', '4')
						p Грандиозный финал пройдёт в Москве, где участники представят своё видение долгосрочной программы развития бизнес-наставничества в регионах Российской Федерации и в дальнейшем станут амбассадорами по её реализации.
						.fw-700 В финале будут объявлены победители по двум номинациям:
						ul
							li Лучший наставник
							li Лучший наставляемый
	// end sSteps


mixin stageSlide(title, date, icon, btn, img, descr)
	.swiper-slide
		+b.stage-slide
			+e.header
				+img(`img/steps-${img}.png`).bg
				+e.title= title
				+e.date= date
				+e.btn
					+icon(icon)
					| #{btn}
			+e.footer= descr
				.img-wrap: +img('img/svg/letters.svg').letters-small
				if block
					block