// start .sApply
.sApply {
	--sPT: #{rem(32)};
	--sPB: #{rem(42)};
	--sTPB: #{rem(44)};
	background: $white;
	&__row{
		// --bs-gutter-x: #{rem()};
    position: relative;
    z-index: 2;
		--bs-gutter-y: #{rem(40)};
	}
	.section-title {
    padding-top: rem(48);
	}

  .container {
    position: relative;
    z-index: 1;

    &:after {
      content: '';
      position: absolute;
      top: 74%;
      left: 58%;
      z-index: -1;
      width: rem(25);
      height: rem(25);
      background: $black;
      border-radius: 50%;
    }
  }

  .star {
    position: absolute;
    top: 10%;
    right: 0;
    z-index: -1;
    max-width: rem(120);
    @include media-breakpoint-up(lg) {
      max-width: none;
      top: 18%;
      left: 52%;
    }
  }

  ul {
    max-width: rem(630);
    margin-bottom: rem(42);
    margin-left: rem(6);
  }

  li {
    list-style-type: none;
    display: flex;
    align-items: center;
    line-height: 1.2;
    &::before {
      content: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='17' cy='17' r='16.5' stroke='black' /%3E%3Cpath d='M9.66683 17L15.1668 22.5L24.3335 11.5' stroke='black' /%3E%3C/svg%3E");
      padding-right: rem(12);
    }
    &:not(:last-child) {
      margin-bottom: rem(16);
    }
  }

  &__btn {
    margin-left: rem(6);
  }

  .icon {
    fill: $black;
    margin-right: rem(28);
    transform: translateY(-6px);
  }

  .bg-picture {
    position: relative;
    max-width: 50vw;
    z-index: 1;
    
    @include media-breakpoint-up(md) {
      transform: translate(10px, -25%);
    }
  }

  &__img-wrap {
    position: relative;
    text-align: end;

    &:after, &:before {
      content: '';
      position: absolute;
      width: rem(290);
      height: rem(290);
      border-radius: 100%;
      z-index: -2;
      
      @include media-breakpoint-up(md) {
        width: rem(390);
        height: rem(390);
      }
    }

    &:after {
      border: 3px solid $black;
      right: 0;
      bottom: 0;
      
      @include media-breakpoint-up(md) {
        transform: translateY(-21%);
      }
    }
    &:before {
      right: -30px;
      bottom: -30px;
      background: $primary;
      z-index: -1;
      @include media-breakpoint-up(md) {
        right: rem(-50px);
        bottom: rem(40px);
        width: rem(370);
        height: rem(370);

      }
    }
  }

  
  .pattern-vertical {
    height: calc(100% + 40px );
  }

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sApply