mixin sPartners(data)
	// start sPartners
	+b.SECTION.sPartners.section#sPartners&attributes(attributes)
		.container
			+b.section-title
				h2
					+icon('arrow-down')
					| Партнёры
			+e.row.row
				.col-sm-6.col-lg-4: +e.img-wrap: .img-wrap-center: +img('img/sPartners-img-1.png')
				.col-sm-6.col-lg-4: +e.img-wrap: .img-wrap-center: +img('img/sPartners-img-2.png')
				.col-sm-6.col-lg-4: +e.img-wrap: .img-wrap-center: +img('img/sPartners-img-3.png')
	// end sPartners