.top-nav {
	// --sPT: #{rem(42)};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row{
		--bs-gutter-x: #{rem(50)};
		// @include media-breakpoint-up(md) {
			// --bs-gutter-y: var(--bs-gutter-x);
		// }
    align-items: center;
	}
	.section-title{
		
	}
  &__col {
		@include media-breakpoint-down(lg) {
			padding: 0;
			margin: 0;
		}
	}
	&__item{

	}
	&__logo {
		display: inline-block;
	}

  img {
    max-width: 100%;
  }


	@include media-breakpoint-up(sm) {}
	
	@include media-breakpoint-up(xs) {}
	// 
	@include media-breakpoint-between(md, xl) {}
	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-down(xs) {}
}


