mixin sFAQ(data)
	// start sFAQ
	+b.SECTION.sFAQ.section#sFAQ&attributes(attributes)
		.container
			+b.section-title
				h2
					+icon('arrow-down')
					| Часто задаваемые вопросы
			+ddGroup
				+ddGroupItem('Участие в проекте платное?')
					p Участие во встречах Клуба молодых предпринимателей Росмолодёжь.
				+ddGroupItem('Какие критерии отбора в проект?')
					p Участие во встречах Клуба молодых предпринимателей Росмолодёжь.
				+ddGroupItem('Могу ли я участвовать в проекте если был участником или победителем «Мастерской наставников» или «Битвы наставников» прошлых лет?')
					p Участие во встречах Клуба молодых предпринимателей Росмолодёжь.Бизнес по всей России Участие во встречах Клуба молодых предпринимателей Росмолодёжь.Бизнес по всей России Участие во встречах Клуба молодых предпринимателей Росмолодёжь.Бизнес по всей России
				+ddGroupItem('Как узнать, что я прошёл отбор?')
					p Участие во встречах Клуба молодых предпринимателей Росмолодёжь.Бизнес по всей России
				+ddGroupItem('Какие привилегии даёт участие в проекте?')
					p Участие во встречах Клуба молодых предпринимателей Росмолодёжь.Бизнес по всей России Участие во встречах Клуба молодых предпринимателей Росмолодёжь.Бизнес по всей России
				+ddGroupItem('Кто проводит обучение?')
					p Участие во встречах Клуба молодых предпринимателей Росмолодёжь.Бизнес по всей России
				+ddGroupItem('Что даёт сертификат бизнес-наставника?', 'active')
					ul
						li Новый статус – сертифицированный бизнес-наставник
						li Участие в качестве спикера, наставника, эксперта в проектах трека
						li Росмолодёжь.Бизнес и в форумах Росмолодёжи
						li Усиленное портфолио при подаче заявок на участие в международных
						li Экономических форумах (ПМЭФ, ВЭФ и др.)
	// end sQuestions